<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{maplante.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{maplante.nom}}</h5>
            <p class="card-text">Nécessite un ensoleillement {{maplante.soleil}} et un arrosage {{maplante.arrosage}} fois par semaine. Elle fait partie des {{maplante.categorie}}.</p>
        
            <p *ngIf="maplante.arrosage === 3">
                <app-goutte class="goutte_plein"></app-goutte>
                <app-goutte class="goutte_plein"></app-goutte>
                <app-goutte class="goutte_plein"></app-goutte>
            </p>
            <p *ngIf="maplante.arrosage === 2">
                <app-goutte class="goutte_plein"></app-goutte>
                <app-goutte class="goutte_plein"></app-goutte>
                <app-goutte></app-goutte>
            </p>

            <p *ngIf="maplante.arrosage === 0">
                <app-goutte class="goutte_plein"></app-goutte>
                <app-goutte></app-goutte>
                <app-goutte></app-goutte>
            </p>


           <p *ngIf="maplante.soleil === 'beaucoup' ">
                <app-soleil class="sun_plein"></app-soleil>
                <app-soleil class="sun_plein"></app-soleil>
                <app-soleil class="sun_plein"></app-soleil>
            </p>

            <p *ngIf="maplante.soleil === 'moyen' ">
                <app-soleil class="sun_plein"></app-soleil>
                <app-soleil class="sun_plein"></app-soleil>
                <app-soleil></app-soleil>
            </p>

            <p *ngIf="maplante.soleil === 'peu' ">
                <app-soleil class="sun_plein"></app-soleil>
                <app-soleil></app-soleil>
                <app-soleil></app-soleil>
            </p>
            <button href="#" class="btn btn-outline-success" (click)="onPlantSelected(maplante)">Voir ma plante</button>
        </div>
</div>