
h1{
    display: flex;
    justify-content: center;
    color: green;
    padding-top: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

h1{
    display: flex;
    justify-content: center;
    color:#188754;
    /* text-shadow: 1px 2px 15px #188754; */
    font-size: 50px;
    margin: 50px 50px;
}

app-filter-bar{
    max-height: 35rem;
    padding-top: 180px;
}