div{
    margin-bottom: 5px;
}

.goutte-pleine{
    color: #329ff4;
}

.sun{
    fill: black;
}

.sun_plein {
    fill: #f1dd2f;
}

.sun_vide {
  fill: black; /* Couleur pour les icônes de soleil vides */
}