.filter-bar.form-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
  width: 17rem;
  top: 56px;
}
 .css1{
    position: sticky;
 }

h2{
    margin-top: 20px;
    color: #188754;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

input{
    margin-right: 10px;
}

input:focus{
    border-color: #188754;

}
.btn{
    margin-top: 10px;
    background-color: #188754;
    border-color: #188754;
    display: flex;
    justify-content: center;
}

.btn:focus{
    background-color: green;
}

.search{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}