.btn{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bolder;
    color: green;
  display: inline-flex;
  font-size: 13px;
  padding: 1em 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 10px #008013;
}
